# BE files

**/target
**/lib
**/classes
**/checkouts
**/pom.xml
**/dev-config.edn
test-config.edn
**/*.jar
**/*.class
**/.lein-*
**/profiles.clj
**/.env
**/.nrepl-port

**/node_modules
**/log

# FE files
**/.DS_STORE
**/*.log
**/node_modules
**/dist
**/coverage
**/.idea/
**/.yarn-cache
**/.pnp
**/.pnp.js
*/build

**/.env.local
**/.env.development.local
**/.env.test.local
**/.env.production.local

**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*